[package]
name = "vornoi-tests"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
bevy = { version = "0.17.2", features = ["wayland"] }
bevy_egui = "0.38.0"
bevy_pancam = "0.19.0"
clap = { version = "4.5", features = ["derive"] }
colorgrad = "0.7.2"
geo = "0.31.0"
glam = { version = "0.30.9", features = ["rand"] }
image = "0.25.8"
noise = "0.9.0"
num = "0.4.3"
petgraph = "0.8.3"
rand = "0.9.2"
rand_chacha = "0.9.0"
simple_svg = "0.1.3"
smallvec = "1.15.1"
voronoice = "0.2.0"

[profile.dev.package."*"]
opt-level = 3

# Enable only a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

[profile.release]
lto = true
opt-level = 3
codegen-units = 1
incremental = false
debug = false
