[package]
name = "vornoi-tests"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.50", features = ["derive"] }
colorgrad = "0.7.2"
geo = "0.31.0"
glam = { version = "0.30.9", features = ["rand"] }
image = "0.25.8"
noise = "0.9.0"
num = "0.4.3"
rand = "0.9.2"
rand_chacha = "0.9.0"
simple_svg = "0.1.3"
smallvec = "1.15.1"
voronoice = "0.2.0"
