Civilisation(
    name: "Ishabia Kingdom",
    units: [
        (name: "Fighter", default_cost:2.0, health:10.0,range:1,speed:5.0,mesh_path:"meshes/fighter.glb",icon_path:"icons/fighter.png",seed_barks:[
            "For the glory of Ishabia!",
            "Stand firm, for our kingdom!",
            "Honor and valor guide my blade.",
        ],description:"The Fighter of the Ishabia Kingdom is a stalwart warrior, embodying the principles of honor and duty. Clad in shining armor and wielding a trusty sword, they stand as the first line of defense for their civilisation. Trained in disciplined combat techniques, they fight with unwavering resolve to protect their homeland and uphold the values of their kingdom."),
        (name: "Archer", default_cost:3.0, health:8.0,range:2,speed:5.0,mesh_path:"meshes/archer.glb",icon_path:"icons/ranger.png",seed_barks:[
            "My arrow flies true for Ishabia!",
            "From afar, I strike with precision.",
            "The kingdom's safety is my aim.",
        ],description:"The Archer of the Ishabia Kingdom is a skilled marksman, trained to defend their realm from a distance. With a keen eye and steady hand, they unleash a volley of arrows upon their enemies, striking with precision and agility. Their loyalty to the kingdom drives them to protect their people"),
        (name: "Mage", default_cost:4.0, health:6.0,range:2,speed:5.0,mesh_path:"meshes/mage.glb",icon_path:"icons/wizard.png",seed_barks:[
            "By the arcane power of Ishabia!",
            "Magic serves the kingdom's will.",
            "Let my spells defend our land.",
        ],description:"The Mage of the Ishabia Kingdom is a master of arcane arts, wielding powerful magic to safeguard their civilisation. Through rigorous study and practice, they have honed their abilities to cast spells that can turn the tide of battle. Their dedication to the kingdom fuels their desire to use magic as a force for protection and justice."),
    ],
    settlement_name_seeds: [
        "Ishabia",
        "Kingdom",
        "Realm",
        "Dominion",
        "Empire",
        "Sovereignty",
        "Territory",
        "Province",
        "Land",
        "Nation",
    ],
    description: "The Ishabia Kingdom is a noble and chivalrous civilisation known for its strong sense of honor and duty. Their settlements are often characterized by grand castles and fortified towns, reflecting their emphasis on protection and governance. The inhabitants of the Ishabia Kingdom are skilled warriors and strategists, valuing loyalty and bravery in both battle and daily life.",
)