# .github/workflows/daily.yml
name: Nightly

on:
    schedule:
        - cron: "15 2 * * *"
    workflow_dispatch: {}

permissions:
    actions: read
    contents: read

jobs:
    gate:
        runs-on: ubuntu-latest
        outputs:
            run: ${{ steps.decide.outputs.should_skip }}
        steps:
            # your "has main changed since last run?" logic here
            - id: decide
              uses: fkirc/skip-duplicate-actions@v5

    pipeline:
        needs: gate
        if: needs.gate.outputs.run == 'true'
        permissions:
            contents: write
            id-token: write

        uses: ./.github/workflows/release.yaml
